{% extends 'base.html.twig' %}

{% block title %}View 360 Shopping inovations{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            visibility:hidden;
            opacity:.2;
            transition: .7s ease-in-out all;
        }
        #main {
            padding:0 !important;
        }
        
        #content {
            visibility:hidden;
            opacity:0;
            transition: .7s ease-in-out all;
        }
    </style>
{% endblock %}
{% block adminNavbar %}
    {{ include('/_navbar/_navbar.html.twig') }}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('vue') }}
    {{ parent() }}
            
{% endblock %}

{% block body %}
<div id='banner'>
 <img style="width:100%" src="/img/banner.jpg">
</div>
<div id='content'>
  
</div>
{% endblock %}

{# <div>
    {% for product in products %}
        {{ product.variant.name }}   - {{ product.color.name }}
         <img style='max-width:150px' src="{{ vich_uploader_asset(product, 'productImages') }} " alt="product-{{ product.id }}">             

    {% endfor %}
</div> #}


