{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}

<div class='wrapper'>
{% for variantCategory in variantCategories %}
    <a href="{{ path('app_category_show', {id:variantCategory.id}) }}">
        <div><img style='max-width:50px' src="/uploads/photos/{{ variantCategory.document }}" alt="category-{{ variantCategory.id }}">{{ variantCategory.name }} - {{ variantCategory.count }} products </div>
    </a>
{% endfor %}
</div>
{% endblock %}
